/* RESET */
*{
    margin: 0px;
    padding: 0px;
}

main{
    background-color: rgb(241, 240, 240);
}


/* HEADER */
.header__brand{
    width: 15em;
    padding-left: 2em;
}

.header__categorias{
    display: flex;
    justify-content: center;
    width: 40em;
}

.header__carrito{
    display: flex;
    width: 12em;
    justify-content: center;
    align-items: center;
}

/* MAIN */
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    row-gap: 2em;
    padding: 2em;
    grid-template-areas: "product" "product" "product";
}

.contenedor__mensaje{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: rgb(255, 145, 0);
    padding: 2em;
}

.product{
    grid-area: product;
}

.card{
    position: relative;
    overflow: hidden;
    width: 310px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: none;
}

.card:hover{
    box-shadow: 1px 3px 10px 5px rgba(197, 197, 197, 0.75);
    -webkit-box-shadow: 1px 3px 10px 5px rgba(197, 197, 197, 0.75);
    -moz-box-shadow: 1px 3px 10px 5px rgba(197, 197, 197, 0.75);
    transition: .5s;
}

.card__imagen{
    position: absolute;
    width: 100%;
    height: 65%;
    top: 0%;
}

.card__imagen--img{
    margin: auto;
    display: block;
    object-fit:contain;
    width: 90%;
    height: 100%;
}

.card__info{
    position: absolute;
    object-fit: fill;
    top: 65%;
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    border-top: 1px solid rgb(214, 214, 214);
}

.btn{
    background-color: lightseagreen;
    border-radius: .8rem;
    border: none;
    color: white;
}

.btn:hover{
    transform: scale(1.05, 1.05);
    transition: 1s;
    background-color:rgb(8, 115, 110);
}

.btn__sumres{
    display: block;
    color: rgb(83, 162, 123);
    border: none;
    background-color: white;
}

.btnAgregar{
    background-color: rgb(252, 161, 44);
    border-radius: .8rem;
    height: 50px;
    border: none;
    color: white;
    padding: 1vw 5vw;
} 

.btnAgregar:hover{
    background-color: rgb(255, 117, 24);
    transition: 1s;
    padding: 1vw 8vw;
} 

.btnAgregar__off{
    display: none;
}

/* MODAL CARRITO */
.carrito{
    vertical-align: middle;
}

.carrito__imagen{
    width: 9vw;
    height: auto;
    margin: .5em;
}

.modal__header--titulo{
    font-size: 2em;
    font-weight: 500;
}

.modal__botones{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2em;
}

.modal__footer--total{
    display: flex;
    justify-content: flex-end;
    margin-right: 5em;
    font-size: 1.2em;
    font-weight: 600;
}

.btn__carrito{
    position: absolute;
    justify-content: center;
    border: none;
    background-color: rgb(13, 110, 253);
}

.btn__carrito--img{
    width: 3em;
}

.btn__carrito--contador{
    display: block;
    position: relative;
    bottom: 1em;
    left: 1.2em;
    text-align: center;
    color: white;
    width: 1.2em;
    background-color: rgb(255, 117, 24);
    border-radius: .6em;
} 

.btn__carrito--contadorOff{
    display: none;
}

.carrito__vacio{
    font-size: 2em;
    color: orange;
}

.btn__cantidad--accion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: white;
    border: none;
}

.btn__cantidad--accion:hover{
    transform: scale(1.4, 1.4);
    background-color: rgb(240, 238, 238);
} 

.btn__eliminar{
    border: none;
    background-color: white;
}

.carrito__cantidad{
    display: inline-block;
}  

.carrito__cantidad--num{
    display: flex;
    justify-content: center;
} 


/* RENDERIZACION STOCK */
.sin__stock{
    color: red;
    font-weight: bolder;
    font-size: 1.5em;
}

.stock__bajo{
    color: rgb(247, 194, 18);
    font-weight: bolder;
}

.stock__disponible{
    color:green;
    font-weight: bolder;
}

/* FOOTER */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer__nav{
    display: flex;
    align-items: center;
    justify-self: center;
}

.footer__lista{
    list-style: none;
}

.footer__lista--categorias{
    color: white;
    font-size: 1em;
    font-weight: 600;
}

.footer__lista--items{
    text-decoration: none;
    font-size: .8em;
    color: white;
}

.footer__lista--items:hover{
    color: rgb(204, 204, 204);
}

.footer__info{
    display: flex;
    flex-direction: column;
    width: 30em;
    height: auto;
    background-color: rgb(195, 195, 195);
    border-radius: .5em;
}

.footer__info--btn{
    display: flex;
    justify-content: center;
}

.footer__redes{
    display: flex;
    align-items: center;
    margin: 20px;
}

.footer__redes--img{
    width: 40px;
    margin: 15px;
}

.carrito__compra{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(196, 195, 195);
    margin: 2em;
}

.contenedor__compra--titulo{
    background-color: grey;
    text-align: center;
    font-size: 2em;
    color: whitesmoke;
    padding: .3em;
}