/* RESET */
*{
    margin: 0px;
    padding: 0px;
}

main{
    background-color: rgb(221, 215, 215);
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(77, 224, 224);
}

.nav__lista{
    display: inline;
    list-style: none;
}

.nav__carrito{
    display: flex;
    align-self: center;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    border: none;
    gap: 35px;
    grid-template-areas: "product" "product" "product";
}

.product{
    grid-area: product;
}

.card{
    width: 310px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(139, 184, 251);
    border-radius: 15px;
    background-color: rgb(224, 240, 243);
}

.card__imagen{
    width: 300px;
    height: 300px;
}

.card__imagen--carrito{
    width: 10vw;
    height: 10vh;
    margin: 10px;
}

.card__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* .card__carrito{
} */

.btn{
    background-image: linear-gradient(to bottom, rgb(128, 128, 245), rgb(76, 181, 216));
    border-radius: 1.5rem;
    border: none;
    color: white;
}

.btn:hover{
    transform: scale(1.05, 1.05);
    transition: 1s;
}

.btn__cantidad{
    width: 40px;
    height: 40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
}

.carrito{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__carrito{
    position: absolute;
    border: none;
    background-color: rgb(77, 224, 224);
}

/* .carrito:hover{
    transform: scale(1.1,1.1);
    transition: 2s;
}; */

.btn__carrito--contador{
    display: block;
    position: relative;
    bottom: 20px;
    left: 20px;
    text-align: center;
    color: white;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 15px;
} 

.btn__carrito--contadoroff{
    display: none;
}

.btn__cantidad--accion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: white;
    border: none;
}

.btn__cantidad--accion:hover{
    transform: scale(1.4, 1.4);
    background-color: rgb(240, 238, 238);
} 

.btn__eliminar{
    border: none;
    background-color: white;
}

/* .btn__cantidad--input{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 40px;
    height: 40px;
    margin: 5px;
} */

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(77, 224, 224);
}

.footer__lista{
    list-style: none;
    margin: 20px;
}

.footer__info{
    display: flex;
    flex-direction: column;
}

.footer__redes{
    display: flex;
    align-items: top;
    margin: 20px;
}

.footer__redes--img{
    width: 40px;
    margin: 15px;
}

